<a class="myCollapse" role="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="color:black;">
    What is this website?
</a>

<div class="collapse" id="collapseExample">
    This website is a prototype to a fully functioning PUBG server hosting interface.
</div>