<h3>Cancel Server</h3>
<p>Cancel stuff thingo</p>
Are you sure you want to cancel?<br/>
<%= link_to "Confirm", create_cancel_url(params[:id]), :method => "post", :class => "btn btn-danger" %>
<%= link_to "Back", account_url, :class => "btn btn-warning" %>